@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}
.flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}
.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  background-color: white;
  border-radius: 9px;
  cursor: pointer;
}
.button:hover{
  color: black;
  background-color: rgb(199, 196, 196);
}
.items-center{
  align-items: center;
}
.text-center{
  text-align: center;
}
.rows{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
  margin: 4px;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
}
